body,p{
	font-size: 20px;
	color:black;
	font-family: "Times New Roman";
	padding:10px;
	margin:0px;
	border:0px;
	text-indent:40px;
	background-color: #f1f1f1;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Times New Roman";
	color: black;
	padding:0px;
	padding-top:10px;
	padding-bottom: 10px;
	margin:0px;
	border:none;
	border-bottom:solid;
}