body,p,h3{
	font-size: 15px;
	color:black;
	font-family: "Times New Roman";
	padding:0px;
	margin:0px;
	border:0px;
	background-color: #f1f1f1;
}
h1 {
	text-align: center;
	font-size: 40px;
	font-family: "Times New Roman";
	color: black;
	padding:0px;
	padding-top:10px;
	padding-bottom: 10px;
	margin:0px;
	border:none;
	border-bottom:solid;
}

h2 {
	text-align: center;
	padding-bottom:0px;
	padding-top: 10px;
	font-size: 18px;
	margin:0px;
}

h3{
	text-align: left;
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	font-size:20px;
	padding: 0px;
}

.item{
	font-weight:bold;
}

p{
	margin-left:30px;
	font-size:18px;
	padding:2px;
}
.title{
	font-style: italic;
}
ul{
	margin:0px;
	border:none;
	border-spacing: 0px;
	font-size:18px;
	list-style: none;
	margin-left: 20px;
}
li{
	list-style-type: disc;
}